[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
autopep8 = "*"
nose2 = "*"
mypy = "*"

[packages]
click = "*"
colorama = "*"
loguru = "*"
arrow = "*"

[requires]
python_version = "3.7"
